<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Masayuki IZUMI (a.k.a. izumin5210))">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>しらばすー</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="nav-filter">
      <ul class="class-list">
        <li class="m"><a href="?year=1&department=m">1M</a></li><li class="m"><a href="?year=2&department=m">2M</a></li><li class="m"><a href="?year=3&department=m">3M</a></li><li class="m"><a href="?year=4&department=m">4M</a></li><li class="m"><a href="?year=5&department=m">5M</a></li>
      </ul>
      <ul class="class-list">
        <li class="e"><a href="?year=1&department=e">1E</a></li><li class="e"><a href="?year=2&department=e">2E</a></li><li class="e"><a href="?year=3&department=e">3E</a></li><li class="e d"><a href="?year=4&department=e&course=d">4ED</a></li><li class="e j"><a href="?year=4&department=e&course=j">4EJ</a></li><li class="e d"><a href="?year=5&department=e&course=d">5ED</a></li><li class="e j"><a href="?year=5&department=e&course=j">5EJ</a></li>
      </ul>
      <ul class="class-list">
        <li class="c"><a href="?year=1&department=c">1C</a></li><li class="c"><a href="?year=2&department=c">2C</a></li><li class="c"><a href="?year=3&department=c">3C</a></li><li class="c"><a href="?year=4&department=c">4C</a></li><li class="c"><a href="?year=5&department=c">5C</a></li>
      </ul>
      <ul class="class-list">
        <li class="a"><a href="?year=1&department=a">1A</a></li><li class="a"><a href="?year=2&department=a">2A</a></li><li class="a"><a href="?year=3&department=a">3A</a></li><li class="a"><a href="?year=4&department=a">4A</a></li><li class="a"><a href="?year=5&department=a">5A</a></li>
      </ul>
    </nav>
    <script src="/javascripts/jquery-2.0.3.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/underscore-min.js"></script>
    <script src="/javascripts/backbone-min.js"></script>
  </body>
</html>
