html, body {
  height: 100%;
  min-height: 100%;
}
.nav-filter {
  height: 25%;
  .class-list {
    margin: 0;
    padding: 0;
    height: 100%;
    li {
      display: inline-block;
      width: 20%;
      height: 100%;
      padding: 0;
      margin: 0;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        margin: -1px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        &:link, &:visited, &:hover, &:active {
            color: #fff;
            font-size: 200%;
            text-decoration: none;
        }
        &:hover, &:active {
          opacity: 0.5;
        }
      }
      @for $i from 1 through 5 {
        /* $a: 0.05 * $i + 0.2; */
        $a: 0.5;
        &.m:nth-child(#{$i}) a { background-color: rgba(153, 0, 0, $a);}
        &.e:nth-child(#{$i}) a { background-color: rgba(204, 153, 0, $a);}
        &.c:nth-child(#{$i}) a { background-color: rgba(0, 102, 204, $a);}
        &.a:nth-child(#{$i}) a { background-color: rgba(0, 102, 0, $a);}
      }
      &.active {
        box-shadow: 0 0 8px #000 inset;
        opacity: 0.4;
      }
    }
  }
}

.navbar-transparent {
  /* background-color: rgba(248, 248, 248, 0.5) !important; */
  opacity: 0.8;
}
.course-list {
  margin-top: 50px;
  dl {
    margin: 0;
    padding: 0;
    dt, dd {
      color: #fff;
      list-style: none;
      line-height: 1.8em;
      strong {
        font-size: 160%;
        font-weight: normal;
      }
      small {
        margin-left: 1em;
        font-size: 80%;
      }
      &:nth-child(4n+1), &:nth-child(4n+2) {
        $a: 0.7;
        &.m { background-color: rgba(153, 0, 0, $a);}
        &.e { background-color: rgba(204, 153, 0, $a);}
        &.c { background-color: rgba(0, 102, 204, $a);}
        &.a { background-color: rgba(0, 102, 0, $a);}
      }
      &:nth-child(4n+3), &:nth-child(4n+4) {
        $a: 0.5;
        &.m { background-color: rgba(153, 0, 0, $a);}
        &.e { background-color: rgba(204, 153, 0, $a);}
        &.c { background-color: rgba(0, 102, 204, $a);}
        &.a { background-color: rgba(0, 102, 0, $a);}
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
    dt { padding: 32px 32px 4px; }
    dd {
      padding: 4px 32px 32px;
      font-size: 80%;
    }
  }
}
